:root {
  --la_primary_color: #17255d;
  --la-secondary-color: #e3f2fd;
  --la_primary_color_gray: #2e2d2c;
  --la_primary_color_white: #fff;
  --la_primary_color_silver_1: #eee;
  --la_primary_color_silver_2: #ccc;
  --la_primary_color_silver_3: #aaa;
  --la_primary_color_silver_4: #888;
  --la_primary_color_silver_5: #666;
  --la_primary_color_silver_6: #444;
  --la_neutral_color_1: #c5bca9;
  --la_neutral_color_2: #ebcd7d;
  --la_neutral_color_3: #41576b;
  --la_neutral_color_4: #592b22;
  --la_neutral_color_5: #655f59;
  --la_accent_color_1: #ea504f;
  --la_accent_color_2: #82c4d6;
  --la_accent_color_3: #ab4482;
  --la_accent_color_4: #e6b92c;
  --la_accent_color_5: #76b057;

  --screen-mobile: 567px;
  --screen-table-md: 768px;
  --screen-table-xl: 992px;
  --screen-desktop-md: 1200px;
  --screen-desktop-xl: 1680px;
  --screen-desktop-xxl: 1920px;

  --font-sm: 12px;
  --font-md: 14px;
  --font-lg: 16px;
  --font-xl: 18px;
  --font-xxl: 20px;
  --font-xxxl: 24px;
}

/**
	TinyMce - Rich Editor
*/
body.tox-dialog__disable-scroll {
	overflow: unset !important;
}
